.Container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

    h1 {
        margin: 1rem 0rem;
    }

    h2 {
        margin: 1rem 0rem;
    }
}
