.Container {
	margin-top: 72px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	margin: 1rem;
}

.CardList {
	display: flex;
	align-items: space-evenly;
	flex-wrap: wrap;
	justify-content: center;
}

h2 {
	margin-bottom: 1rem;
	text-align: center;
}
