.Container {
	margin-top: 72px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

button {
	margin: 1rem;
}

.CardList {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 95vw;
	overflow: hidden;
}

h2 {
	margin-bottom: 1rem;
}
.UpNext {
	margin-top: 1rem;
}
