.Card {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	width: 300px;
	margin: 5rem;
	border-radius: 1rem;
	border: 1px solid;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transition: 0.3s;

	&__BackgroundImage {
		width: 300px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	&__ImagePop {
		position: relative;
		width: 450px;
		height: 300px;
		left: -5rem;
		top: -4rem;
		object-fit: scale-down;
	}

	&__Logo {
		width: 5rem;
		height: 5rem;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		filter: brightness(0) invert(1);
	}

	&__LearnMore {
		padding-top: 0.5rem;
		background-color: white;
	}

	&__Name {
		font-size: 2rem;
		font-weight: bold;
	}

	&:hover {
		cursor: pointer;
		box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px,
			rgba(255, 255, 255, 0.22) 0px 15px 12px;
		transform: scale(1.1);
	}
}
