.Nav {
	padding: 1rem;
	padding-left: 5rem;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	width: 100%;
	color: black;
	position: fixed;
	z-index: 100;
	top: 0;

	@media (prefers-color-scheme: dark) {
		background-color: rgba(0, 0, 0, 0.8);
		color: white;
	}
}

.Link {
	padding: 1rem;
}
