@use "../../styles/mixin";

.Nav {
    top: 0;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2em);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 100;
    width: 100%;

    @media (prefers-color-scheme: dark) {
        background-color: rgba(54, 54, 54, 0.8);
        color: white;
    }
}

.Logo {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    height: 60px;
    width: 150px;
    // background-image: url("https://i.imgur.com/kSadBMi.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        // background-image: url("https://i.imgur.com/hlWABf4.png");
        border-radius: 10px;
    }
}

.Menu {
    margin-right: 2rem;
    display: flex;
    width: 70vw;
    justify-content: end;
}

.Item {
    display: flex;
    align-items: center;
}

.Link {
    //color: palette.$primary-colour;
    text-decoration: none;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;

    &__Active {
        color: #5d93fe;
        padding: 1rem 0.5rem;
    }

    &:hover {
        //background-color: palette.$secondary-colour;
        border-radius: 10px;
    }
}

.MenuIcon {
    display: none;
}

@include mixin.phone {
    .Menu {
        position: absolute;
        margin: 0;
        top: 80px;
        width: 100%;
        left: -100%;
        flex-direction: column;
        transition: all 0.5s;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(2rem);
        -webkit-backdrop-filter: blur(2em);

        @media (prefers-color-scheme: dark) {
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }
    }

    .Menu.active {
        left: 0;
        z-index: 1;
    }

    .Link {
        width: 100%;
        padding: 2rem;
        text-align: left;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        @media (prefers-color-scheme: dark) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        &__Active {
            width: 100%;
            padding: 2rem;
            color: #5d93fe;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            @media (prefers-color-scheme: dark) {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
            }
        }

        &:hover {
            border-radius: 0;
        }
    }

    .Logo {
        position: absolute;
        left: 0;
    }

    .MenuIcon {
        display: block;
        position: absolute;
        right: 1rem;
        padding: 1rem;
        font-size: 1.8rem;
        cursor: pointer;
    }
}
